version: "3.9"

services:
  web:
    build: .
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ./.env
    expose:
      - 8000
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:

      - db
      
  db:
    image: postgres:13
    restart: always
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - 5433:5432 # Postgres port

  pgbouncer:
    image: edoburu/pgbouncer:latest
    restart: always
    volumes:
      - ./pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
      - ./userlist.txt:/etc/pgbouncer/userlist.txt
      - ./pg_hba.conf:/etc/pgbouncer/pg_hba.conf
    environment:
      - DATABASES_HOST=db
      - DB_PORT=5432
      - DB_USER=${BOUNCER_USER}
      - DB_PASSWORD=${BOUNCER_PASSWORD}
      # - ADMIN_USERS=postgres,admin
      # - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@db/${DB_NAME}
    ports:
      - "6432:6432"
    depends_on:
      - db


  nginx:
    build: ./nginx
    restart: always
    ports:
      - ${NGINX_PORT}:80
      - 443:443
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
      - ./certbot/www/:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/letsencrypt/:rw
    depends_on:
      - web
  
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw

volumes:
  postgres_data:
  static_volume:
  media_volume: