{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Foydalanuvchilar ro'yhati</h5>
          </div>
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">To'liq ismi</th>
                <th scope="col" class="text-center">Telefon raqami</th>
                <th scope="col" class="text-center">Buyurtmarlar soni</th>
                {% comment %} <th scope="col" class="text-center">Manzili</th> {% endcomment %}
                <th scope="col" class="text-center">Qo'shilgan sana</th>
                <th scope="col" class="text-center">Buyurtmalari</th>
                {% comment %} <th scope="col" class="text-center">Qo'shimcha</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% for profile in users %}
                <tr>
                  <th scope="row" class="text-center">{{ profile.id }}</th>
                  <td class="text-center">{{ profile.full_name }}</td>
                  <td class="text-center">{{ profile.phone_number }}</td>
                  <td class="text-center">{{ profile.order.count }}</td>
                  {% comment %} <td class="text-center">
                      {% if active_locations.profile.id %}
                          {% for location in active_locations.profile.id %}
                              {{ location.address }}<br>
                          {% endfor %}
                      {% else %}
                          Manzil topilmadi
                      {% endif %}
                  </td> {% endcomment %}
                  <td class="text-center">
                    <i class="bi bi-calendar-date"></i> {{ profile.created|date:'d-m-Y' }} <br />
                    <i class="bi bi-clock"></i> {{ profile.created|date:'H:i' }}
                  </td>
                  <td class="text-center">
                    <a href="{% url 'user-orders-list' profile.id %}"><i class="bi bi-journal-text" style="font-size: 2em;"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Pagination controls -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                  </a>
                </li>
              {% endif %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ page_obj.number }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
