{% extends "base.html" %} {% block content %}
<div class="container">
  <h2>Create Product SubCategory</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

      <!-- First Column -->
      <div class="col-md-6">
        <div class="mb-3">{{ form.name_uz.label_tag }} {{ form.name_uz }}</div>
        <div class="mb-3">{{ form.name_ru.label_tag }} {{ form.name_ru }}</div>
        <div class="mb-3">
          <label for="id_images">Category image:</label>{{ form.image }}
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-6">
        <div class="mb-3">{{ form.name_kr.label_tag }} {{ form.name_kr }}</div>
        <div class="mb-3">{{ form.name_en.label_tag }} {{ form.name_en }}</div>
        <div class="row mb-3 align-items-end">
            <div class="col-md-9">
                {{ form.category.label_tag }} {{ form.category }}
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <a href="{% url 'good_category' %}" class="btn btn-success btn-sm">Add category</a>
            </div>
        </div>
    </div>
    
      <div class="col-md-12">
        <div class="mb-3">{{ form.active }}Active </div>
      </div>
    </div>
    <!-- Single Column for Submit Button -->
    <div class="row">
      <div class="col-12 text-end">
        <!-- text-end klassi qo'shildi -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}