{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">Barcha buyurtmalari ro'yhati</h5>
        </div>
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Buyurtmalar<span>| all</span></h5>
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Foydalanuvchi</th>
                    <th scope="col" class="text-center">Sana</th>
                    <th scope="col" class="text-center">Manzil</th>
                    <th scope="col" class="text-center">Umumiy narx</th>
                    <th scope="col" class="text-center">Izoh</th>
                    <th scope="col" class="text-center">Holati</th>
                    <th scope="col" class="text-center">Batafsil</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in orders %}
                  <tr>
                    <th scope="row" class="text-center">{{c.id}}</th>
                    <th class="text-center">{{c.user.full_name}}</th>
                    <td class="text-center"><i class="bi bi-calendar-date"></i> {{ c.created|date:"d-m-Y" }} <br> <i
                        class="bi bi-clock"></i> {{ c.created|date:"H:i" }}</td>
                    <td class="text-center">
                      {% if c.user.location.exists %}
                      {{ c.user.location.first.address }}
                      {% else %}
                      <span class="text-muted">No location available</span>
                      {% endif %}
                    </td class="text-center">
                    <td class="text-center">{{c.total_amount}} ₩</td>
                    <td class="text-center">{{c.comment}}</td>
                    <td class="text-center">
                      {% if c.status == "in_cart" %}
                      <span class="badge bg-warning">Savatchada</span>
                      {% elif c.status == "pending" %}
                      <span class="badge bg-warning">Kutilmoqda</span>
                      {% elif c.status == "approved" %}
                      <span class="badge bg-primary">To'lov tasdiqlandi</span>
                      {% elif c.status == "sent" %}
                      <span class="badge bg-success">Yuborildi</span>
                      {% elif c.status == "cancelled" %}
                      <span class="badge bg-danger">Bekor qilindi</span>
                      {% else %}
                      <span class="badge bg-secondary">{{ c.status }}</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <a href="{% url 'user-order-detail' c.id %}">
                        <i class="bi bi-receipt" style="font-size: 2em;"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}