{% extends "base.html" %} {% block content %}
<div class="container">
  <h2>Create Phone and ProductItem</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      
      <!-- First Column -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9 mb-3">
            {{ form.category.label_tag }} {{ form.category }}
          </div>
          <div class="col-md-3 mb-3" style="margin-top: 25px;">
            <a href="{% url 'create_category' %}" class="btn btn-success">Add category</a>
          </div>
        </div>
      
        <div class="mb-3">{{ form.condition.label_tag }} {{ form.condition }}</div>
        <div class="mb-3">{{ form.ram.label_tag }} {{ form.ram }}</div>
        <div class="mb-3">{{ form.stock.label_tag }} {{ form.stock }}</div>
        <div class="mb-3">{{ form.price.label_tag }} {{ form.price }}</div>
        <div class="mb-3">
          <label for="id_images">Images:</label>{{ form.images }}
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-6">
        <div class="mb-3">
          {{ form.model_name.label_tag }} {{ form.model_name }}
        </div>
        <div class="mb-3">{{ form.color.label_tag }} {{ form.color }}</div>
        <div class="mb-3">{{ form.storage.label_tag }} {{ form.storage }}</div>
        <div class="mb-3">{{ form.bonus.label_tag }} {{ form.bonus }}</div>
        <div class="mb-3">
          {{ form.available_quantity.label_tag }} {{ form.available_quantity }}
        </div>
      </div>
      
      
      <div class="col-md-12">
        <div class="mb-3">{{ form.desc.label_tag }} {{ form.desc }}</div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">{{ form.active }}Active </div>
      </div>
    </div>
    <!-- Single Column for Submit Button -->
    <div class="row">
      <div class="col-12 text-end">
        <!-- text-end klassi qo'shildi -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
