{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">Phone Products List</h5>
          <a href="{% url 'create_phone' %}" class="btn btn-success"
            >Create Phone Product</a
          >
        </div>
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Model Name</th>
              <th scope="col">Image</th>
              <th scope="col">RAM</th>
              <th scope="col">Storage</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Measure</th>
              <th scope="col">Available Quantity</th>
              <th scope="col">Stock</th>
              <th scope="col">Bonus</th>
              <th scope="col">Active</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through your phone products here -->
            {% for phone in phones %}
            <tr>
              <th scope="row">{{ phone.id }}</th>
              <td>{{ phone.model_name }}</td>
              <td>
                <img
                  src="{{ phone.product.images.first.image.url }}"
                  alt="{{ phone.model_name }}"
                  width="50"
                  height="50"
                />
              </td>
              <td>{{ phone.get_ram_display }}</td>
              <td>{{ phone.get_storage_display }}</td>
              <td>{{ phone.category }}</td>
              <td>{{ phone.product.desc }}</td>
              <td>${{ phone.product.price }}</td>
              <td>{{ phone.product.get_measure_display }}</td>
              <td>{{ phone.product.available_quantity }}</td>
              <td>{{ phone.product.stock }}</td>
              <td>{{ phone.product.bonus }}</td>
              <td>{{ phone.product.active }}</td>
              <td>
                <button class="btn btn-primary btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
            {% endfor %}
            <!-- End loop -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
