{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard - Million halal market</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/4f85f74c22.js" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{% static 'assets/img/logo.png' %}" alt="#" />
          <span class="d-none d-lg-block">Million Mart</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>


          <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="{% static "assets/img/admin-logo.jpg" %}"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >Admin</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>Admin Million</h6>
                <span>Halal mart</span>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    {% url 'dashboard' as dashboard_url %}
    {% url 'phone_list' as phone_list_url %}
    {% url 'ticket-list' as ticket_list_url %}
    {% url 'good-list' as good_list_url %}
    {% url 'news-list' as news_list_url %}
    {% url 'users-list' as users_list_url %}
    {% url 'info-list' as info_list_url %}
    {% url 'service-list' as service_list_url %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          
          <a class="nav-link {% if request.path == dashboard_url %} active {% endif %}" href="{% url 'dashboard' %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link {% if not 'dashboard/product' in request.path  %}collapsed {% else %}active{% endif %}"
             data-bs-target="#mahsulotlar-nav"
             data-bs-toggle="collapse"
             href="#">
              <i class="bi bi-journal-text"></i><span style="color: #4154f1;">Mahsulotlar</span>
              <i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="mahsulotlar-nav" class="nav-content {% if not 'dashboard/product' in request.path  %}collapse{% endif %}"
              data-bs-parent="#sidebar-nav">
              <!-- Mahsulotlar section content -->
              <li>
                {% url 'good-list' as good_list %}
                <a  class="{% if request.path == good_list %}active{% endif %}" href="{% url 'good-list' %}">
                  <i class="bi bi-circle"></i><span>Oziq-ovqat mahsulotlari</span>
                </a>
              </li>
              <li>
                  {% url 'phone_list' as phone_list %}
                  <a class="{% if request.path == phone_list %}active{% endif %}" href="{% url 'phone_list'  %}">
                      <i class="bi bi-circle"></i><span>Mobil qurilmalar</span>
                  </a>
              </li>


            <li>
              {% url 'ticket-list' as ticket_list %}
              <a class="{% if request.path == ticket_list %}active{% endif %}" href="{% url 'ticket-list'  %}">
                <i class="bi bi-circle"></i><span>Chiptalar</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Forms Nav -->

        

        <li class="nav-item">
          {% url 'users-list' as users_list %}
          <a class="nav-link {% if request.path == users_list %}active{% endif %}" href="{% url 'users-list' %}">
              <i class="bi bi-person"></i>
              <span>Foydalanuvchilar</span>
          </a>
      </li>
      <li class="nav-item">
        {% url 'orders-list' as orders_list %}
        <a class="nav-link {% if request.path == orders_list %}active{% endif %}" href="{% url 'orders-list' %}">
          <i class="bi bi-gem"></i><span>Buyurtmalar</span><i></i>
            
        </a>
    </li>
        <!-- End Profile Page Nav -->
        
        <li class="nav-item">
    <a class="nav-link {% if not 'dashboard/news' in request.path  %}collapsed {% else %}active{% endif %}"
       data-bs-target="#qoshimchalar-nav"
       data-bs-toggle="collapse"
       href="#">
        <i class="bi bi-question-circle"></i><span style="color: #4154f1;">Qo'shimchalar</span>
        <i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="qoshimchalar-nav" class="nav-content collapse {% if 'dashboard/other' in request.path  %}show{% endif %}"
        data-bs-parent="#sidebar-nav">
        <!-- Qo'shimchalar section content -->
        <li>
            {% url 'info-list' as info_list %}
            <a class="nav-link {% if request.path == info_list %}active{% endif %}" href="{% url 'info-list' %}">
                <i class="bi bi-circle"></i><span>Ma'lumotnomalar</span>
            </a>
        </li>



            <li>
              {% url 'service-list' as service_list %}
              <a class="{% if request.path == service_list %}active{% endif %}" href="{% url 'service-list' %}">
                <i class="bi bi-circle"></i><span>Xizmatlar</span>
              </a>
            </li>
            <li>
              {% url 'banner-list' as banner_list %}
              <a  class="{% if request.path == banner_list %}active{% endif %}" href="{% url 'banner-list' %}">
                <i class="bi bi-circle"></i><span>Bannerlar</span>
              </a>
            </li>
            <li>  
              {% url 'news-list' as news_list %}
              <a class="{% if request.path == news_list %}active{% endif %}" href="{% url 'news-list' %}">
                <i class="bi bi-circle"></i><span>E'lonlar</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End F.A.Q Page Nav -->

        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="pages-contact.html">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li> 
        <!-- End Contact Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-register.html">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
          </a>
        </li>
        <!-- End Register Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-login.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li>
        <!-- End Login Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-error-404.html">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li>
        <!-- End Error 404 Page Nav -->
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-blank.html">
            <i class="bi bi-file-earmark"></i>
            <span>Blank</span>
          </a>
        </li>
        {% endcomment %}
        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Million halol market</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin panel</li>
          </ol>
        </nav>
      </div>
      <br>
      <!-- End Page Title -->
      
      <section class="section">
        {% block content %}
        
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Buyurtmalar soni<span> | Jami</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3 text-center">
                      <h6>{{orders.count}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{order_today.count}}</span> <span class="text-muted small pt-2 ps-1">Bugun</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Daromad qiymati <span> | Jami</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3 text-center"> 
                      <h6>₩ {{revenue}}K</h6>
                      <span class="text-success small pt-1 fw-bold">₩ {{revenue_today}}k</span> <span class="text-muted small pt-2 ps-1">Bugun</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Foydalanuvchilar soni <span>| Jami</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3 text-center">
                      <h6>{{customers.count}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{customers_today}}</span> <span class="text-muted small pt-2 ps-1">Bugun</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">So'nggi buyurtmalar</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Foydalanuvchi</th>
                        <th scope="col" class="text-center">Sana</th>
                        <th scope="col" class="text-center">Manzil</th>
                        <th scope="col" class="text-center">Umumiy narx</th>
                        <th scope="col" class="text-center">Izoh</th>
                        <th scope="col" class="text-center">Holati</th>
                        <th scope="col" class="text-center">Batafsil</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in orders %}
                        <tr>
                          <th scope="row" class="text-center">{{c.id}}</th>
                          <th class="text-center">{{c.user.full_name}}</th>
                          <td class="text-center">
                            <i class="bi bi-calendar-date"></i> {{ c.created|date:"d-m-Y" }} <br>
                            <i class="bi bi-clock"></i> {{ c.created|date:"H:i" }}
                          </td>
                          <td class="text-center">
                            {% if c.user.location.exists %}
                            {{ c.user.location.first.address }}
                            {% else %}
                            <span class="text-muted">No location available</span>
                            {% endif %}
                            </td>
                            <td class="text-center">{{c.total_amount}} ₩</td>
                            <td class="text-center">{{c.comment}}</td>
                            <td class="text-center">
                              {% if c.status == "in_cart" %}
                              <span class="badge bg-warning">Savatchada</span>
                              {% elif c.status == "pending" %}
                              <span class="badge bg-warning">Kutilmoqda</span>
                              {% elif c.status == "approved" %}
                              <span class="badge bg-primary">To'lov tasdiqlandi</span>
                              {% elif c.status == "sent" %}
                              <span class="badge bg-success">Yuborildi</span>
                              {% elif c.status == "cancelled" %}
                              <span class="badge bg-danger">Bekor qilindi</span>
                              {% else %}
                              <span class="badge bg-secondary">{{ c.status }}</span>
                              {% endif %}
                            </td>
                          <td class="text-center">
                            <a href="{% url 'user-order-detail' c.id %}">
                              <i class="bi bi-receipt" style="font-size: 2em;"></i>
                            </a>
                          </td>
                        </tr>
                  {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                      <h5 class="card-title">Eng ko'p sotilganlar mahsulotlar <span>| Barchasi</span></h5>
                      <table class="table table-borderless datatable">
                          <thead>
                              <tr>
                                  <th scope="col">Foto</th>
                                  <th scope="col">Maxsulot</th>
                                  <th scope="col">Narxi</th>
                                  <th scope="col">Soni</th>
                                  <th scope="col">Daromad</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for product_data in data.tickets %}
                                  <tr>
                                      <th scope="row"><img src="{{ product_data.image }}" alt=""></th>
                                      <td><a href="#" class="text-primary fw-bold">{{ product_data.title }}</a></td>
                                      <td>${{ product_data.price }}</td>
                                      <td class="fw-bold">{{ product_data.quantity }}</td>
                                      <td>${{ product_data.revenue }}</td>
                                  </tr>
                              {% endfor %}
          
                              {% for product_data in data.phones %}
                                  <tr>
                                      <th scope="row"><a href="#"><img src="{{ product_data.image }}" alt=""></a></th>
                                      <td><a href="#" class="text-primary fw-bold">{{ product_data.title }}</a></td>
                                      <td>${{ product_data.price }}</td>
                                      <td class="fw-bold">{{ product_data.quantity }}</td>
                                      <td>${{ product_data.revenue }}</td>
                                  </tr>
                              {% endfor %}
          
                              {% for product_data in data.goods %}
                                  <tr>
                                      <th scope="row"><a href="#"><img src="{{ product_data.image }}" alt=""></a></th>
                                      <td><a href="#" class="text-primary fw-bold">{{ product_data.title }}</a></td>
                                      <td>${{ product_data.price }}</td>
                                      <td class="fw-bold">{{ product_data.quantity }}</td>
                                      <td>${{ product_data.revenue }}</td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          
            <!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Week</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Website Traffic <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: 1048,
                          name: 'Search Engine'
                        },
                        {
                          value: 735,
                          name: 'Direct'
                        },
                        {
                          value: 580,
                          name: 'Email'
                        },
                        {
                          value: 484,
                          name: 'Union Ads'
                        },
                        {
                          value: 300,
                          name: 'Video Ads'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Week</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="{% static "assets/img/news-1.jpg" %}" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static "assets/img/news-2.jpg" %}" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static "assets/img/news-3.jpg" %}" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static "assets/img/news-4.jpg" %}" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static "assets/img/news-5.jpg" %}" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>
        {% endblock content %}
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Million Halal Mart 2024</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/vendor/chart.js/chart.umd.js" %}"></script>
    <script src="{% static "assets/vendor/echarts/echarts.min.js" %}"></script>
    <script src="{% static "assets/vendor/quill/quill.min.js" %}"></script>
    <script src="{% static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
    <script src="{% static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
