{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Yetkazib berish ximati</h5>
                  <td class="text-center">
                    {% for service in services%}
                    
                    
                  </td>
                </tr>
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col" colspan="3" style="width: 100px; min-width: 100px;">Nomi</th>
                              <th scope="col" colspan="6" style="width: 200px; min-width: 200px;">Narxi</th>
                              <th scope="col" colspan="2" style="width: 200px; min-width: 200px;">Qo'shimcha</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td colspan="3">Pochta</td>
                              <td colspan="6">{{service.delivery_fee}} ₩</td>
                              <td colspan="2"><a href="{% url 'edit_service' service.id %}" class="btn btn-primary btn-sm">Tahrirlash</a></td>
                          </tr>
                    {% endfor %}
                      </tbody>
                  </table>
              </div>
              

              </div>
            </div>
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Bonus toifalari</h5>
                  <td class="text-center">
                    
                    
                  </td>
                </tr>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" colspan="3" style="width: 100px; min-width: 100px;">Turi</th>
                      <th scope="col" colspan="6" style="width: 200px; min-width: 200px;">Narx chegarasi</th>
                      <th scope="col" colspan="6" style="width: 200px; min-width: 200px;">Chegirma foizi</th>
                      <th scope="col" colspan="6" style="width: 200px; min-width: 200px;">Xolati</th>
                      <th scope="col" colspan="2" style="width: 200px; min-width: 200px;">Qo'shimcha</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for bonus in bonuses%}
                          <tr>
                              <td colspan="3">{{bonus.title}}</td>
                              <td colspan="6">{{bonus.amount}} ₩</td>
                              <td colspan="6">{{bonus.percentage}} %</td>
                              {% if bonus.active %}
                                <td colspan="6" ><img src="{% static 'assets/img/check.png' %}" height="20" width="20"
                                    alt="Faol"></td>
                                {% else %}
                                <td colspan="6" ><img src="{% static 'assets/img/cancel.png' %}" height="20" width="20"
                                    alt="Faol emas"></td>
                                {% endif %}
                              <td colspan="2"><a href="{% url 'edit_bonus' bonus.id %}" class="btn btn-primary btn-sm">Tahrirlash</a></td>
                          </tr>
                    {% endfor %}
                      </tbody>
                  </table>
              </div>
              

              </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
