{% extends 'base.html' %} {% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.delivery_fee.label_tag }}
  {{ form.delivery_fee }}
  <style>
    #id_delivery_fee {
      width: 500px;
    }
  </style>
  <br>
  <button type="submit" class="btn btn-primary" name="edit">Save Changes</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script>
  document.getElementById('yourDeleteButtonId').addEventListener('click', function () {
    $('#deleteConfirmModal').modal('show');
  });
</script>

{% endblock %}